.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comfortaa-regular {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}


.honk-regular {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.rampart-one-regular {
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nabla-regular {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}

.flavors-regular {
  font-family: "Flavors", cursive;
  font-weight: 400;
  font-style: normal;
}

.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: "Comic Relief", system-ui;
}

button{
  font-family: "Comic Relief", system-ui;
}

#wipe{
  font-family: "Press Start 2P", system-ui;
  font-size: 15px;
}

h3{
  font-family: "Rampart One", sans-serif;
  font-size: 17px;
  letter-spacing: 3px;
}

h1{
  font-family: "Nabla", system-ui;
  font-size: 40px;
  letter-spacing: 3px;
}
h2{
  font-family: "honk", system-ui;
  letter-spacing: 3px;
}
h4{
  font-family: "Bungee Shade", sans-serif;
}

#news{
  font-family: "Comic Relief", system-ui;
}

.tooltip span, .pagination{
  font-family: "Comfortaa", system-ui;
}