/*Custom cursor*/
* {
cursor: url('http://www.rw-designer.com/cursor-extern.php?id=111111') 0 0, auto;
}
a, button, img a{
cursor: url('http://www.rw-designer.com/cursor-extern.php?id=111125') 0 0, auto;
}
/*Change image scale when hover*/
.grow img:hover{
transform: scale(1.2);
transition: all 0.3s ease-in-out;
}
/*Change selector style*/
::selection{
color:rgb(248, 199, 255);
background-color:rgba(255, 105, 180, 0.822);
text-shadow: 0 0 5px pink;
}
/*box sizing include the padding and border in an element's total width and height*/
*{
    box-sizing: border-box;
}
/*Costom scrollbar I got from Scripted page*/
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAFElEQVQIW2M4fPz0////GYAYyAIASnoKpV3w4kgAAAAASUVORK5CYII=");
image-rendering: pixelated;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}

::-webkit-scrollbar-track:active {
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAEElEQVQIW2No6+pjgAAgCwAWogM9VKrgGQAAAABJRU5ErkJggg==");
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}

::-webkit-scrollbar-thumb {
border-top: 1px solid #cccccc;
border-left: 1px solid #cccccc;
border-right: 1px solid black;
border-bottom: 1px solid black;
box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
width: 16px;
height: 16px;
background-color: #cccccc;
z-index: 1;
}

::-webkit-scrollbar-corner {
background-color: #cccccc;
}

::-webkit-resizer {
width: 16px;
height: 16px;
background-color: #cccccc;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==");
background-position: bottom right;
background-repeat: no-repeat;
image-rendering: pixelated;
}

::-webkit-scrollbar-button,
.scroll::-webkit-scrollbar-button {
border-top: 1px solid #cccccc;
border-left: 1px solid #cccccc;
border-right: 1px solid black;
border-bottom: 1px solid black;
box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
display: block;
width: 16px;
height: 16px;
background-color: #cccccc;
image-rendering: pixelated;
background-repeat: no-repeat;
background-position: center center;
}

::-webkit-scrollbar-button:active,
.scroll::-webkit-scrollbar-button:active {
background-position: 2px 2px;
}

::-webkit-scrollbar-button:horizontal:decrement,
.scroll::-webkit-scrollbar-button:horizontal:decrement {
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
}

::-webkit-scrollbar-button:horizontal:increment,
.scroll::-webkit-scrollbar-button:horizontal:increment {
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
}

::-webkit-scrollbar-button:vertical:decrement,
.scroll::-webkit-scrollbar-button:vertical:decrement {
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");
}

::-webkit-scrollbar-button:vertical:increment,
.scroll::-webkit-scrollbar-button:vertical:increment {
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
}

::-webkit-scrollbar-button:horizontal:increment:start,
.scroll::-webkit-scrollbar-button:horizontal:increment:start {
display: none;
}

::-webkit-scrollbar-button:horizontal:decrement:end,
.scroll::-webkit-scrollbar-button:horizontal:decrement:end {
display: none;
}

::-webkit-scrollbar-button:vertical:increment:start,
.scroll::-webkit-scrollbar-button:vertical:increment:start {
display: none;
}

::-webkit-scrollbar-button:vertical:decrement:end,
.scroll::-webkit-scrollbar-button:vertical:decrement:end {
display: none;
}

::-webkit-scrollbar-button:active,
.scroll::-webkit-scrollbar-button:active {
border-top: 1px solid #868a8e;
border-left: 1px solid #868a8e;
border-bottom: 1px solid #868a8e;
border-right: 1px solid #868a8e;
box-shadow: none;
}
            
/*Page body and title rendering*/
body, #head{
    image-rendering:pixelated;
}
/*Page title size*/
#head{
    display: block;
    margin: auto;
    width: 90%;
    min-width: 100px;
    max-width: 300px;
}
/*Background style*/
body{
    background-color: black;
    background-image: url(/index/images/strbackground.gif);
    background-size: 350px;
    background-repeat: repeat;
    background-attachment: fixed;
}
/*navigation, footer and main body styling*/
.topnav, .footer, .content{
    background-color:rgba(186, 85, 211, 0.8);
    color: #ff8fff;
    width: calc(100% - 10px);
    max-width: 1115px;
    border: 4px groove #b624e2;
    margin: 5px auto;
    font-size: 15px;
    text-align: center;
}
/*Top navigation customization*/
.topnav{
    overflow: hidden;
    border-radius: 50px 50px 1px 1px;
    font-size: 17px;
}
.topnav a{
    display: inline-block;
    color:#ff8fff;
    padding: 10px 60px;
    text-decoration: none;
}
.topnav a:hover{
    background-color:mistyrose;
    color: hotpink;
    font-size: 18px;
    transition: all 0.3s ease-out;
}
.topnav a:active{
    background-color: #dbc5c2;
    color: #dd5b9c;
    font-size: 17px;
}
/*Page footer customization*/
.footer{
    padding: 5px;
    border-radius: 4px 4px 70px 70px;
}
/*disclaimer button*/
#credit{
    background-color: transparent;
    border: none;
    color: #ff8fff;
    text-decoration: none;
    font-size: 15px;
}
#credit:hover, .modal-content a:hover{
    text-decoration: wavy underline;
    font-style: oblique;
}
/*Modal*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(15, 2, 27, 0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #a586c2;
    width: 80%; 
    max-width: 600px;
    border-radius: 12px;
}
.modal-content a{
    color: #d671f5;
    text-decoration: none;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Main container*/
.content{
    display: block;
    overflow: hidden;
    height: 675px;
    padding: 3px;
    margin: auto;
    border-radius: 9px;
}
.container{
    display: grid;
    grid-template-columns: 245px 321px 210px 245px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    gap: 17px;
    justify-content: start;
}
/*Common shared customization*/
.model{
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.8);
    color: #e080e0;
    outline: 4px ridge #b99227;
    font-size: 15px;
    box-shadow: 7px 8px 15px #522053;
    border-radius: 7px;
    text-align: left;
}
.no-scroll{
    overflow: hidden;
}
.presentation, .cliques, .webring{
    overflow: auto;
}
/*Navigation bar*/
.nav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}
.nav button{
    list-style: none;
    background-image: linear-gradient(rgb(233, 151, 229), rgb(221, 57, 194));
    width: 233px;
    border:2px outset #dd50be;
    font-size: 14px;
    text-align:left;
}
.nav button:active{
    border: 2px inset #dd50be;
}
.nav li, .nav a{
    color: #7debeb;
    padding: 10px;
    text-decoration: none;
}
.nav li:hover, .nav a:hover{
    list-style-image: url(/index/images/small/pixel.gif);
    color: ghostwhite;
    text-shadow: 0px 0px 5px #b3ff00;
    transition: all 0.3s ease-out;
}
.nav li:active, .nav a:active{
    color:gold;
    font-size: 13px;
    transition: all 0.3s ease-out;
}
/*Presentation note*/
.presentation{
    background-image: url(/index/images/wizard.gif), url(/index/images/Background064.gif);
    background-repeat: no-repeat, repeat;
    background-position: 350px 20px, center;
    background-size: 150px 220px, 300px;
    border: 18px solid transparent;
    border-image: url(/index/images/small/littlestar.gif) 30 round;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
.presentation p{
    float: left;
    color: #cf28cf;
    width: 300px;
    text-indent: 10px;
}
/*Disclaimer button*/
#disclaimer{
    display: none;
}
#more{
    color: #790a9b;
    background-image: linear-gradient(rgb(255, 192, 231), rgb(218, 64, 218));
    border: 2px outset rgb(243, 122, 142);
    border-radius: 9px;
}
#more:active{
    border: 2px inset rgb(253, 93, 160);
}
#wipe{
    display:inline;             
}
/*Page updates*/
.updates{
    background-image: repeating-radial-gradient(rgba(0, 255, 98, 0.3)1%, rgba(119, 0, 255, 0.3)1%, rgba(0, 128, 128, 0.3)8%);
    padding: 15px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}
.updates hr{
    border: 1px dashed rgb(147, 95, 190);
}
/*To-do list*/
.to-do{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 11;
}
.to-do li{
    padding: 10px;
}
.to-do li:hover{
    background-color: #522053;
    color: white;
    text-shadow: 2px 2px 1px black;
}
li::marker{
    color:darkorchid;
}
/*marquee buttons*/
.buttons{
    padding-top: 6px;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
/*Stamps*/
.stamps{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 11;
}
/*Web cliques*/
.cliques{
    background-image: repeating-radial-gradient(rgba(84, 26, 131, 0.637) 1%, rgb(94, 26, 107) 15%);
    background-size: 500px;
    padding: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 11;
}
.cliques a{
    color: #ff93ce;
}
.cliques a:hover{
    color: white;
    text-shadow: 0px 0px 5px #ff00ff;
    transition: all 0.3s ease-out;
}
/*My status*/
.status{
    background-image: url(/index/images/553.GIF);
    padding: 10px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 11;
}
#statuscafe{
    background-image: linear-gradient( rgb(151, 203, 245), rgb(68, 151, 219), rgb(25, 114, 216));
    width: 213px;
    height: 115px;
    padding: .5em;
    border: 3px groove #2447e2;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
table{ /*For the current moon thing*/
    display: block;
    margin: auto;
}
/*tamaNOTchi*/
.tamaNOTchi{
    background-image: url(/index/images/437.GIF);
    background-size: 120px;
    padding: 3px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 13;
}
.tamaNOTchi img {
    margin: 8px;
    width: 75px;
}
.webring{
    padding: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 16;
}
/*my art*/
#myart{ 
    overflow: hidden;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 17;
}
#myart img{
    width: 260px;
    height: 450px;
    object-fit: cover;
    object-position: -40px -40px;
}
.guardian{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 17;
}
.blinkies{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 16;
    grid-row-end: 17;
}
/*title customization from Scripted's page*/
h3{
    text-align: center;
    display: inline;
    padding: 0px 0px 0px 24px;
    position: relative;
    transition: clip-path 275ms ease;
}
h3:hover span::before, .link:focus span::before {
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
h3 span {
position: relative;
display: inline-block;
}
h3 span::before {
position: absolute;
content: attr(data-content);
text-decoration: underline;
clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
transition: clip-path 275ms ease;
}
/*Music player*/
#music{
    position: absolute;
    left: 20px;
    top: 530px;
    height: 180px;
    width: 340px;
}
/*Floating images*/
#window1{
    position: absolute;
    top: 170px;
    left: 130px;
    z-index: 0;
}
#statue{
    position: absolute;
    bottom: 10px;
    right: 130px;
    z-index: 1;
}
#window2{
    position: absolute;
    bottom: 250px;
    right: 130px;
    z-index: 0;
}
#window3{
    position: absolute;
    top: 320px;
    left: 20px;
    z-index: 1;
}
#pc{
    position: absolute;
    top: 200px;
    right: 90px;
    z-index: -1;
}
#moon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px;
}
#robot{
    position: absolute;
    bottom: 20px;
    width: 170px;
}
/*Responsive design for floating images*/
@media screen and (max-width: 1700px) {
    div.hide {
        display: none;
    }
}